* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #fff;
  background: #000;
}

.hero {
  height: 100vh;
  background: url("/css/images/background.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 40px;
  text-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.main-btn {
  text-decoration: none;
  padding: 14px 36px;
  border-radius: 10px;
  background: #4b66ea;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #4b66ea;
}

.main-btn:hover {
  background: #3a52c9;
  transform: scale(1.05);
}

.main-btn.outline {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.main-btn.outline:hover {
  background: white;
  color: black;
}
